@using Mockify.Models.Spotify;
@model Mockify.Models.ServerSettings

@{
    ViewData["Title"] = "Index";
}

<h2>Mockify Server Settings</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServerSettingsId" />
            <div class="form-group">
                <label asp-for="ResponseMode" class="control-label">Server Response Mode</label>
                <select required="required" id="InputResponseMode" asp-for="ResponseMode" class="form-control" onchange="changeResponseDetailsLabel(this)">
                    @foreach (SpecialResponseMode srm in SpecialResponseMode.SpecialResponseModes) {
                <option id="Srm_@srm.SpecialResponseModeId" val="@srm.SpecialResponseModeId">@srm.Name</option>
                    }
                </select>
                <label id="label_ResponseDescription">@Model.ResponseMode.Description</label>
                <span asp-validation-for="ResponseMode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultMarket" class="control-label">Default Market</label>
                <select required="required" id="inputDefaultMarket" asp-for="DefaultMarket" class="form-control">
                    @foreach (Country c in Country.SpotifyMarkets) {
                        {
                    <option id="Country_@c.ISO_ALPHA_2" val="@c.ISO_ALPHA_2">@c.FormalName</option>}
                    }
                </select>
                <span asp-validation-for="DefaultMarket" class="text-danger"></span>
            </div>
            <div>
                <label>Server-Wide Rate Limits</label>
                <p>This the top-level rate limit. Any Endpoint, Application, or individual User rate limits will only take effect if this top-level isn't currently rate-limiting.</p>
                @{Html.RenderPartial("RateLimits", Model.RateLimits); }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script>

    const specialResponseModes = [
       @Html.Raw(String.Join(",", SpecialResponseMode.SpecialResponseModes.Select(x=>x.ToJson().ToString())))
    ];


    function changeResponseDetailsLabel(e) {
        console.log(e.value)
        const item = specialResponseModes.filter(x => x.Name === e.value)[0];
        console.log(item);
        $("#label_ResponseDescription").text(item.Description);
    }
</script>
